/* app css stylesheet */

.spacer {
    height: 75px;
}

#exhibit-time .highcharts-legend-item {
    display: none;
}

#new-visitors .highcharts-legend-item {
    display: none;
}

.fundraising-title {
    font-size: 18px;
    text-align: center;
}

#heatmap .highcharts-data-labels {
    display: none;
}